<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computadora">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Computadora">
        <activity
            android:name=".Payment_Success"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".AddToCard_Success"
            android:exported="false" />
        <activity
            android:name=".Account_ChangePW"
            android:exported="false" />
        <activity
            android:name=".Account_ChangeInfo"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Auth_SignUp"
            android:exported="false" />
        <activity
            android:name=".Auth_PWRecover"
            android:exported="false" />
        <activity
            android:name=".Auth_Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>